<meta charset="utf-8">
<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Módulo de Entrada de Productos</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" role="form" data-ng-submit="FormIngresar()">
              <div class="form-group has-warning">
                <div class="col-sm-2">
                      <h4 class="text-left">Producto</h4>
                </div>
                <div class="col-sm-10">
                  <select name="producto" data-ng-model="data.producto" class="input-lg" data-ng-init="data.producto='1'">
                    <option value="1">Libro Coquito</option>
                    <option value="2">Bolsa de Arroz</option>
                    <option value="3">Muñeco StormTrooper</option>
                  </select>
                </div>
              </div>
              <div class="form-group has-warning">
                <div class="col-sm-2">
                      <h4 class="text-left">Cantidad</h4>
                </div>
                <div class="col-sm-10">
                  <input type="number" class="form-control input-lg" name="cantidad" data-ng-model="data.cantidad"
                  placeholder="Ingresar cantidad">
                </div>
              </div>
              <div class="form-group has-warning">
                <div class="col-sm-2">
                    <h4 class="text-left">Fecha</h4>
                </div>
                <div class="col-sm-10">
                  <input type="date" class="form-control input-lg" name="fecha" data-ng-model="data.fecha" id="inputPassword3" placeholder="#">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn active btn-lg btn-warning">Registrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>