/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1440px) {
    #section0 {
        background: url(../images/2048/cloudcito.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        /* For WebKit*/ -moz-background-size: cover;
        /* Mozilla*/ -o-background-size: cover;
        /* Opera*/ background-size: cover;
        /* Generic*/

    }
    #section1{
        background-image: url("../images/2048/cloudcito.png");
    }

    #section2{
        background-image: url("../images/2048/cloudcito.png");
    }

    #section3{
        background-image: url("../images/2048/cloudcito.png");
    }

    #section4{
        background-image: url("../images/2048/cloudcito.png");
    }

    #section5{
        background-image: url("../images/2048/cloudcito.png");
    }

    #section6{
        background-image: url("../images/2048/cloudcito.png");
    }

    #section7{
        background-image: url("../images/2048/cloudcito.png");
    }

    #section8{
        background-image: url("../images/2048/cloudcito.png");
    }


    #section9{
        background-image: url("../images/2048/cloudcito.png");
    }

    #principal{
        margin-top: 60px;
    }

    .font-title{
        font-family: "titillium_webblack", Helvetica, Arial, sans-serif;
        font-size: 64px;
    }

    .font-subtitle{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 40px;
    }

    .font-text-info{
        font-family: "titillium_weblight", Helvetica, Arial, sans-serif;
        font-size: 26px;
    }

    .font-text-footer{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 20px;
    }

    .space-text{
        padding-top: 10rem !important;
    }

    .icon-size{
        font-size:5em
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #section0 {
        background-image: url("../images/1366/cloudcito.png");
        background-size: 100%;
    }

    #section1{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section2{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section3{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section4{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section5{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section6{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section7{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section8{
        background-image: url("../images/1366/cloudcito.png");
    }

    #section9{
        background-image: url("../images/1366/cloudcito.png");
    }

    .font-title{
        font-family: "titillium_webblack", Helvetica, Arial, sans-serif;
        font-size: 38px;
    }

    .font-subtitle{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 20px;
    }

    .font-text-info{
        font-family: "titillium_weblight", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    .font-text-footer{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    .profile-photo{
        width: 16rem;
        display: flex;
    }

    .stack-photo{
        width: 18rem;
    }

    .space-text{
        padding-top: 5rem !important;
    }

    .icon-size{
        font-size:2em
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #section0 {
        background: url(../images/2048/cloudcito.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        /* For WebKit*/ -moz-background-size: cover;
        /* Mozilla*/ -o-background-size: cover;
        /* Opera*/ background-size: cover;
        /* Generic*/

    }

    .font-title{
        font-family: "titillium_webblack", Helvetica, Arial, sans-serif;
        font-size: 64px;
    }

    .font-subtitle{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 40px;
    }

    .font-text-info{
        font-family: "titillium_weblight", Helvetica, Arial, sans-serif;
        font-size: 26px;
    }

    .font-text-footer{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 20px;
    }

    .space-text{
        padding-top: 10rem !important;
    }

    .icon-size{
        font-size:5em
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 481px) and (max-width: 767px) and (orientation:portrait) {
    #section0 {
        background: url(../images/1366/vertical.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        /* For WebKit*/
        -moz-background-size: cover;
        /* Mozilla*/
        -o-background-size: cover;
        /* Opera*/
        background-size: cover;
        /* Generic*/

    }

    .font-title{
        font-family: "titillium_webblack", Helvetica, Arial, sans-serif;
        font-size: 32px;
    }

    .font-subtitle{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 20px;
    }

    .font-text-info{
        font-family: "titillium_weblight", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    .font-text-footer{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 10px;
    }

    .space-text{
        padding-top: 10rem !important;
    }

    .icon-size{
        font-size:5em
    }

    .profile-photo{
        display: none;

    }

    .stack-photo{
        width: 18rem;
    }

    .space-text{
        padding-top: 5rem !important;
    }

    .icon-size{
        font-size:2em
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
    #section0 {
        background: url(../images/1366/cloudcito.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        /* For WebKit*/
        -moz-background-size: cover;
        /* Mozilla*/
        -o-background-size: cover;
        /* Opera*/
        background-size: cover;
        /* Generic*/

    }

    .font-title{
        font-family: "titillium_webblack", Helvetica, Arial, sans-serif;
        font-size: 32px;
    }

    .font-subtitle{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 20px;
    }

    .font-text-info{
        font-family: "titillium_weblight", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }

    .font-text-footer{
        font-family: "titillium_websemibold", Helvetica, Arial, sans-serif;
        font-size: 10px;
    }

    .space-text{
        padding-top: 10rem !important;
    }

    .icon-size{
        font-size:5em
    }

    .profile-photo{
        display: none;

    }

    .stack-photo{
        width: 18rem;
    }

    .space-text{
        padding-top: 5rem !important;
    }

    .icon-size{
        font-size:2em
    }
}

#main-navbar ul li a,
#main-navbar ul li a:visited {
    color: white;
    display: inline-block;
    padding-bottom: 10px;
    margin-right: 10px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    text-decoration: none;
    border-bottom: transparent 1px solid;
    margin-bottom: 1px;
    line-height:10px;
}
#main-navbar ul li a:hover {
    border-bottom: white 2px solid;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

#fullpage .section h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}
#fullpage .section h2 {
    text-align: center;
    color: white;
    font-size: 2.5em;
}

.fullpage-wrapper {
    width: 100% !important;
    -webkit-transform: none !important;
    transform: none !important;
}
.fullpage-wrapper .fp-section {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.fullpage-wrapper .fp-section.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.fullpage-wrapper .fp-section .fp-slidesContainer {
    width: 100% !important;
    -webkit-transform: none !important;
    transform: none !important;
}
.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.fullpage-wrapper .fp-section .fp-slidesContainer .fp-slide.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}


